<h3>Feedy</h3>

<p>
  Feedy lets you collect and analyze user feedback without hassle.
</p>

<p>
  Please visit <a href="https://github.com/sungwoncho/feedy">the official Github page</a>.
</p>

<p>
  The source code for this demo is available <a href="https://github.com/sungwoncho/feedy_demo">Here</a>.
</p>
