<h3>Menu</h3>
<ul>
  <li>
    Fight milk: $9.99<br>
    <small>Alcoholic, dairy-based protein drink for bodyguards!!</small>
  </li>

  <li>
    Milk Steak: $12.99<br>
    <small>This is no regular steak. Dipped in milk just for the right amount of time, it's a milk steak.</small>
  </li>

  <li>
    Cheese: $3.50<br>
    <small>Just cheese.</small>
  </li>

  <li>
    Energy ball: $1.00<br>
    <small>Feed your self for months with energy balls.</small>
  </li>
</ul>
